# Obtain mutations and common SNPs around MAPT hairpin

This script will obtain mutations and common SNPs found around MAPT hairpin depending on the coordinates given

In [1]:
import pandas as pd

In [2]:
# file name to append and start and end coordinates to zoom in on around MAPT hairpin
fileAppendName="_ForLaederachPrimerSet" 
#startCoord=46010377
startCoord=46010343
#endCoord=46010427
endCoord=46010543

In [3]:
# Read in mutation data for HGMD and ClinVar
allmuts = pd.read_csv("../data/CombinedMutations_HGMDandClinVar.bed",sep="\t",header=None)
allmuts.head()

      0        1        2          3  4  5       6
0  chr1   942142   942143  CM1511864  C  G     DM?
1  chr1  1014041  1014042     475283  G  A  Benign
2  chr1  1014142  1014143  CM1411641  C  T      DM
3  chr1  1014216  1014217     475278  C  T  Benign
4  chr1  1014227  1014228     402986  G  A  Benign

In [4]:
# Get muts around MAPT hairpin
tau_hairpin_muts = allmuts[((allmuts[0]=="chr17")&(allmuts[1]>=startCoord)&(allmuts[2]<=endCoord))]
tau_hairpin_muts.to_csv("../processed_data/MutationsAroundTauHairpin"+fileAppendName+".bed",sep="\t",header=False,index=False)
tau_hairpin_muts.head()

            0         1         2          3  4  5   6
158080  chr17  46010357  46010358  CM1510268  T  C  DM
158081  chr17  46010372  46010373   CM014584  A  C  DM
158082  chr17  46010372  46010373  CM1411311  A  G  DM
158083  chr17  46010374  46010375   CS003183  T  C  DM
158084  chr17  46010378  46010379   CS140469  A  G  DM

In [5]:
# Read in common SNPs data
commonSNPs = pd.read_csv("../data/commonSNPs_all_processed.bed",sep="\t",header=None)
commonSNPs.head()

/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   0      1      2            3  4  5         6
0  1  10641  10642  rs558604819  G  A  0.004193
1  1  11007  11008  rs575272151  C  G  0.088060
2  1  11011  11012  rs544419019  C  G  0.088060
3  1  11062  11063  rs561109771  T  G  0.002995
4  1  13109  13110  rs540538026  G  A  0.026760

In [9]:
# Get commonSNPs around MAPT hairpin
tau_hairpin_SNPs = commonSNPs[((commonSNPs[0]==17)&(commonSNPs[1]>=startCoord)&(commonSNPs[2]<=endCoord))]
tau_hairpin_SNPs.head()

           0         1         2            3  4  5         6
28611585  17  46010478  46010479  rs140777094  G  A  0.001398
29021307  17  46010384  46010385  rs116733906  G  A  0.000799

In [10]:
# Add chr to 17 so that it will be chr17
tau_hairpin_SNPs.loc[:,0] = 'chr' + tau_hairpin_SNPs.loc[:,0].astype(str)
tau_hairpin_SNPs.head()

              0         1         2            3  4  5         6
28611585  chr17  46010478  46010479  rs140777094  G  A  0.001398
29021307  chr17  46010384  46010385  rs116733906  G  A  0.000799

In [11]:
# Write common snps around MAPT hairpin 
tau_hairpin_SNPs.to_csv("../processed_data/CommonSNPsAroundTauHairpin"+fileAppendName+".bed",sep="\t",header=False,index=False)

In [12]:
%%script bash
# Concatenate mut and common snps around MAPT hairpin files
cat ../processed_data/MutationsAroundTauHairpin_ForLaederachPrimerSet.bed ../processed_data/CommonSNPsAroundTauHairpin_ForLaederachPrimerSet.bed > ../processed_data/MutsAndSNPsAroundTauHairpin_ForLaederachPrimerSet.bed